.footer-custom {
  border-top: 2px solid #590ead;
  box-shadow: 0 0 10px #590ead;
  background: rgba(18, 18, 18, 0.85);
  color: #ffffff;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Avatar en el menú */
.footer-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #590ead;
  box-shadow: 0 0 8px #590ead;
}

/* Centro con el copyright */
.footer-center {
  flex: 1;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 6px #590ead;
}

/* Dropdown menú */
.dropdown-menu {
  background: rgba(18, 18, 18, 0.95);
  color: #fff;
}

.dropdown-menu .dropdown-item {
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #590ead;
  color: #fff;
}
